@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

div.body{
    width: 100%;
    height: 100%;
}

div#deletePerson{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
}

div.dados{
    position: relative;
    z-index: 1;
    top: 50px;
    width: 700px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    box-sizing: border-box;
    border-radius: 0px 50px 50px 0px;
    background-color: white;
    box-shadow: 4px 0 4px 0px rgba(0, 0, 0, 0.1), 1px 4px 4px 0px rgba(0, 0, 0, 0.281);
    align-items: center;
}

header.user{
    color: white;
    padding: 20px;
    font-size:20px;
    text-align: left;
    position: absolute;
    z-index: 2;
    display: inline-block;
    top: 40px;
    left: 0;
    width: 700px;
    height: 75px;
    background: linear-gradient(271.58deg, #8A90A7 9.14%, rgba(255, 255, 255, 0) 114.13%), #EE7EF8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
}

header.user label{
    display: flex;
    margin: -40px 10px 10px 75px;
}

form.userData{
    column-gap: 30px;
    padding: 10px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px;
    grid-template-areas: 
    "name pins " 
    "email null" 
    "registry null"
    "none buttons";
    margin-top: 100px;
    width: 100%;
    height: 220px;
}

div#user_Nome{
    grid-area: name;
}
div#user_Email{
    grid-area: email;
}
div#user_Registry{
    grid-area: registry;
}
div#user_Pins{
    grid-area: pins;
}

form.userData label{
    font-weight: bold;
    margin: 2px 5px 2px 5px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: lighter;
}

div.infos{
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

div.infos input{
    margin: 3px 0px 3px 0px;
    padding: 10px;
    color: #666;
    height: 25px;
    width: 250px;
    font-size: 14px;
    border: solid 1px #aaccaa91;
    border-radius: 20px;
}

div#buttons{
    grid-area: buttons;
    margin-left: -30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    right: 0;
}
