.App {
  text-align: center;
  height: 1024vh;
  width: 1024vw;
}

main.center{
  position: absolute;
  left: 77px;
  top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.2);
}

div.Cabecalho{
  width: 100%;
}